---
---

@import "reset";

$font-stack: Helvetica, sans-serif;
$nav-background: grey;
$container-width: 960px;

body {
    font: 100% $font-stack;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
}

.header,
.brand,
.nav,
.content {
    display: flex;
    align-items: center;
}

.header,
.nav,
.content {
    width: 100%;
}

.nav {
    justify-content: space-around;
    background: $nav-background;
    padding: 10px;
}

.header {
    justify-content: space-between;
}

.social-links {
    img {
        width: 50px;
        height: auto;
    }
}

.brand {
    text-decoration: none;

    img {
        width: 50px;
        height: auto;
        margin-right: 10px;
    }
}

.content {
    align-items: flex-start;
}

.article {
    img {
        width: 100%;
        height: auto;
    }
}