---
---

@import "reset";

$font-stack: Helvetica, sans-serif;
$nav-background: #DDD;
$nav-border: #AAA;
$max-width: 960px;
$mobile-breakpoint: 380px;
$tablet-breakpoint: 768px;
$header-height: 50px;

body {
    font: 100% $font-stack;
    padding: 10px;
}

.container {
    max-width: $max-width;
    margin: 0 auto;
}

.header,
.brand,
.nav,
.content {
    display: flex;
    align-items: center;
}

.header,
.nav,
.content {
    width: 100%;
}

.aside {
    min-width: 200px;

    @media screen and (max-width: $tablet-breakpoint) {
        display: none;
    }
}

.nav {
    border: 1px solid $nav-border;
    justify-content: space-around;
    background: $nav-background;
    padding: 10px;
    margin-bottom: 10px;
    list-style: none;

    @media screen and (max-width: $mobile-breakpoint) {
        display: none;
    }
}

.header {
    justify-content: space-between;
    margin-bottom: 10px;

    @media screen and (max-width: $mobile-breakpoint) {
        flex-direction: column;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
}

.social-links {
    display: flex;
    justify-content: space-around;

    img {
        width: 50px;
        height: auto;
        margin: 0 10px;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        width: 100%;
        background-color: $nav-background;

        img {
            width: 40px;
            margin-top: 5px;
        }
    }
}

.brand {
    text-decoration: none;
    height: $header-height;
    width: 100%;
    background-color: white;

    img {
        width: 50px;
        height: auto;
        margin-right: 10px;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        display: flex;
        justify-content: center;
    }
}

.content {
    align-items: flex-start;

    .article {
        @media screen and (min-width: $tablet-breakpoint) {
            margin-right: 10px;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        margin-top: $header-height;
        margin-bottom: $header-height;
    }
}

.article {

    img {
        width: 100%;
        height: auto;
    }

    .section {
        p {
            text-align: justify;
        }

        .related {
            display: inline-block;
            float: right;
            margin: 0 0 10px 10px;
        }

        @media screen and (max-width: $mobile-breakpoint) {
            display: flex;
            flex-direction: column;

            p {
                order: -1;
            }

            .related {
                margin: 10px 0;
            }
        }
    }
}