---
---

@import "reset";
@import "variables";
@import "flex";
@import "typography";
@import "menu";
@import "header";
body {
    padding: 10px;
}

.container {
    max-width: $max-width;
    margin: 0 auto;
}

.content {
    @include flexbox;
}

.aside {
    min-width: 200px;
    @media screen and (max-width: $tablet-breakpoint) {
        display: none;
    }
}

.article {
    img {
        width: 100%;
        height: auto;
    }
    .related {
        display: inline-block;
        float: right;
        margin: 0 0 10px 10px;
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .content {
        margin-bottom: $header-height;
    }
    .article .section {
        @include flexbox;
        @include flex-direction(column);
        p {
            @include order(-1);
        }
        .related {
            margin: 10px 0;
        }
    }
}

@media screen and (min-width: $tablet-breakpoint) {
    .content .article {
        margin-right: 10px;
    }
}
