#nav-button,
.nav {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-around);
    padding: 10px;
    text-align: center;
    background: $nav-background;
    border: 1px solid $nav-border;
    margin-bottom: 10px !important;
    list-style: none;
}

#nav-button,
#nav-toggle {
    display: none;
}

@media screen and (max-width: $mobile-breakpoint) {
    #nav-button {
        @include flexbox;
        margin-top: $header-height !important;
    }
    .nav {
        @include flex-direction(column);
        max-height: 0;
        padding: 0;
        border: none;
        overflow: hidden;
    }
    #nav-toggle:checked+.nav {
        max-height: 100%;
        padding: 10px;
    }
}
