$font-stack: Helvetica, sans-serif;
$font-colour: #333333;
$nav-background: #DDDDDD;
$nav-border: #AAAAAA;
$max-width: 960px;
$mobile-breakpoint: 380px;
$tablet-breakpoint: 768px;
$header-height: 50px;
